<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <table style="margin:90px auto; width: 750px;border-spacing: 0">
        <tr style="text-align:center">
            <td style="text-align: center;" colspan="2">“ASAN” Finans sistemi vasitəsilə məlumatların alınmasına dair razılıq ərizəsi </td>
        </tr>
        <tr>
            <td style="padding-top: 30px">Adı, soyadı, ata adı <u> <div class="info">
                        <%= form.customerName %>
                    </div> </u></td>
            <td style="text-align:end;width: 50%;padding-top: 30px">Şəxsin FİN nömrəsi <u> <div class="info">
                        <%= form.finCode %>
                    </div> </u></td>
        </tr>
        <tr>
            <td colspan="2" style="padding-top: 10px"> Bununla razılıq verirəm ki, “ASAN Finans” sistemi vasitəsilə şəxsiyyət vəsiqəm üzrə müəyyən məlumatlar <u>cari
                    və kart hesabın açılması kredit sifarişi, və s.</u> məqsədi ilə “PAŞA Bank” Açıq Səhmdar Cəmiyyətinə
                təqdim olsun. </td>
        </tr>
        <tr>
            <td colspan="2" style="padding-top: 10px"> Bununla razılıq verirəm ki, “ASAN Finans” sistemi vasitəsilə İş yerim üzrə müəyyən məlumatlar <u>cari və kart
                    hesabım açılması kredit sifarişi, və s.</u> məqsədi ilə “PAŞA Bank” Açıq Səhmdar Cəmiyyətinə təqdim olsun.
                </td>
        </tr>
        <tr>
            <td colspan="2" style="padding-top: 10px"> Bu razılıq geri götürülənə kimi qüvvədədir. Razılığın yazılı müraciətimə əsasən vaxtından əvvəl ləğv edilə bilməsi
                mənə izah olundu. </td>
        </tr>
        <tr>
            <td colspan="2" style="padding-top: 10px"> Bu razılıq əsnasında əldə edilmiş məlumatların saxlanma müddəti müvafiq xidmətdən istifadə müddəti ilə eynidir
                və həmin xidmət verildikdən sonra məlumat qanunvericilikdə nəzərdə tutulmuş qaydada arxivləşdirilsin. </td>
        </tr>
        <tr>
            <td style="width: 50%;  padding-top: 30px">Tarix: <u> <div class="info">
                        <%= form.signDate %>
                    </div></u></td>
            <td style="text-align:end;width: 50%;padding-top: 30px">İmza: _________________________________</td>
        </tr>
        <tr>
            <td style="width: 50%;  padding-top: 30px"></td>
            <td style="text-align:center;width: 50%;font-size: 10px;padding: 0px">(İmza, Ad Soyad Ata adı)</td>
        </tr>
    </table>
</body>

</html>
